application/config/database.php
application/config/config.php
application/config/config_dguv3.php
application/bilder/logo.jpg
application/logs/*
application/privat_logs/*
dd25120.sql
todo.txt
.vscode
.vs
application/cache/*
.htpasswd
cron/*
toast/*
pdf/*
